.landing-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background-color: dodgerblue;
  }
  
    
    .landing-page p {
      font-size: 24px;
      margin: 0 0 1rem 0;
    }
    
    .landing-page .line {
      border-bottom: 2px solid #333;
      padding: 0 0.5rem;
    }
    
    .landing-page a {
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }